ion-content {
    --background: #f8f8f8;
  }
  
  .bg-white {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ion-toolbar {
    background-color: #4c6ef5; /* Ubah warna toolbar sesuai kebutuhan */
  }
  
  .ion-button {
    margin-top: 16px;
  }

  .tab-selected {
    color: var(--ion-color-primary);
    font-weight: bold;
  }
  
  .tab-selected ion-icon {
    color: var(--ion-color-primary);
  }
  
  /* Optional: Add a bottom border or indicator */
  .tab-selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 3px;
    background-color: var(--ion-color-primary);
    border-radius: 3px 3px 0 0;
  }
  